# Rproject
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Raw and output data
data-raw/*
!data-raw/*.rda
!data-out/**/*.Rdata

# misc and  LaTeX
*.tmp
*.swp
*.bak
*.log
.DS_store

# HTML knitting
en/*_files/*
en/*_catche/*
!en/*_files/figure-html5
*_files/*
*_catche/*
!*_files/figure-html5
docs/**/**/*.csv
docs/**/**/*.rds
docs/*.css
docs/*_catche/*
docs/en/*_catche/*
docs/**/**/*.R
docs/**/**/*.md
docs/**/**/*.Rmd
docs/**/**/*.html
!docs/**/**/*index.html
docs/data-raw/*
docs/data-out/*
