.Rproj.user
.DS_Store
.Rhistory
*.dat
data/h27ka42.shx
data/h27ka42.shp
data/h27ka42.prj
data/h27ka42.dbf
data/003_42.csv
data/2015pop_old.csv
data/N03-001001_42-g_AdministrativeBoundary.shx
data/N03-001001_42-g_AdministrativeBoundary.shp
data/N03-001001_42-g_AdministrativeBoundary.dbf
data/N03-001001_42-g.xml
data/KS-META-N03-001001_42-g.xml
