.Rproj.user
.DS_Store
.Rhistory
*.dat
data/h27ka42.shx
data/h27ka42.shp
data/h27ka42.prj
data/h27ka42.dbf
data/003_42.csv
data/2015pop_old.csv
data/N03-001001_42-g_AdministrativeBoundary.shx
data/N03-001001_42-g_AdministrativeBoundary.shp
data/N03-001001_42-g_AdministrativeBoundary.dbf
data/N03-001001_42-g.xml
data/KS-META-N03-001001_42-g.xml
data/003_33.csv
data/h27ka33.dbf
data/h27ka33.prj
data/h27ka33.shp
data/h27ka33.shx
data/KS-META-N03-001001_33-g.xml
data/N03-001001_33-g.xml
data/N03-001001_33-g_AdministrativeBoundary.dbf
data/N03-001001_33-g_AdministrativeBoundary.shp
data/N03-001001_33-g_AdministrativeBoundary.shx
data/N03-001001_30-g_AdministrativeBoundary.shx
data/N03-001001_30-g_AdministrativeBoundary.shp
data/N03-001001_30-g_AdministrativeBoundary.dbf
data/N03-001001_30-g.xml
data/KS-META-N03-001001_30-g.xml
data/003_30.csv
data/shp_data.zip
data/h27ka30.dbf
data/h27ka30.prj
data/h27ka30.shp
data/h27ka30.shx
data/003_07.csv
data/h27ka07.dbf
data/h27ka07.prj
data/h27ka07.shp
data/h27ka07.shx
data/KS-META-N03-001001_07-g.xml
data/N03-001001_07-g.xml
data/N03-001001_07-g_AdministrativeBoundary.dbf
data/N03-001001_07-g_AdministrativeBoundary.shp
data/N03-001001_07-g_AdministrativeBoundary.shx
data/003_04.csv
data/h27ka04.dbf
data/h27ka04.prj
data/h27ka04.shp
data/h27ka04.shx
data/KS-META-N03-001001_04-g.xml
data/N03-001001_04-g.xml
data/N03-001001_04-g_AdministrativeBoundary.dbf
data/N03-001001_04-g_AdministrativeBoundary.shp
data/N03-001001_04-g_AdministrativeBoundary.shx
data/N03-001001_38-g_AdministrativeBoundary.shx
data/N03-001001_38-g_AdministrativeBoundary.shp
data/N03-001001_38-g_AdministrativeBoundary.dbf
data/N03-001001_38-g.xml
data/N03-001001_15-g_AdministrativeBoundary.shx
data/N03-001001_15-g_AdministrativeBoundary.shp
data/N03-001001_15-g_AdministrativeBoundary.dbf
data/N03-001001_15-g.xml
data/KS-META-N03-001001_38-g.xml
data/KS-META-N03-001001_15-g.xml
data/h27ka38.shx
data/h27ka38.shp
data/h27ka38.prj
data/h27ka38.dbf
data/h27ka15.shx
data/h27ka15.shp
data/h27ka15.prj
data/h27ka15.dbf
data/003_38.csv
data/003_15.csv
data/003_34.csv
data/h27ka34.dbf
data/h27ka34.prj
data/h27ka34.shp
data/h27ka34.shx
data/KS-META-N03-001001_34-g.xml
data/N03-001001_34-g.xml
data/N03-001001_34-g_AdministrativeBoundary.dbf
data/N03-001001_34-g_AdministrativeBoundary.shp
data/N03-001001_34-g_AdministrativeBoundary.shx
data/003_25.csv
data/h27ka25.dbf
data/h27ka25.prj
data/h27ka25.shp
data/h27ka25.shx
data/KS-META-N03-001001_25-g.xml
data/N03-001001_25-g.xml
data/N03-001001_25-g_AdministrativeBoundary.dbf
data/N03-001001_25-g_AdministrativeBoundary.shp
data/N03-001001_25-g_AdministrativeBoundary.shx
data/003_14.csv
data/h27ka14.dbf
data/h27ka14.prj
data/h27ka14.shp
data/h27ka14.shx
data/KS-META-N03-001001_14-g.xml
data/N03-001001_14-g.xml
data/N03-001001_14-g_AdministrativeBoundary.dbf
data/N03-001001_14-g_AdministrativeBoundary.shp
data/N03-001001_14-g_AdministrativeBoundary.shx
data/003_13.csv
data/h27ka13.dbf
data/h27ka13.prj
data/h27ka13.shp
data/h27ka13.shx
data/KS-META-N03-001001_13-g.xml
data/N03-001001_13-g.xml
data/N03-001001_13-g_AdministrativeBoundary.dbf
data/N03-001001_13-g_AdministrativeBoundary.shp
data/N03-001001_13-g_AdministrativeBoundary.shx
